@import '../variable';

.about{
    display: flex;
    align-items: center;
    padding: 30px;
    color: $white;

    .about_info{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        margin-bottom: 30px;
        }
    
}

.blueFont{
    color: $lighblue;
}

.work_wrapper{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
  
    // flex-wrap: wrap;
    // padding: 10px;
    overflow-y: auto;
}

.work{
  
    width: 350px!important;
  

    i{
        font-size: 3em;
    }
    .work_heading{
        font-size: 1.2em;
        font-weight: 500;
    }

    .work_description{
        font-weight: 300;
    }
}

.what_i_do{
   
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}